<!DOCTYPE html>
<html>
    <head>
        <title>Error del servidor</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1><%=tipo%> - Error interno del servidor</h1>
        <h2>Se ha producido el siguiente error: <%= mensaje %></h2>
    </body>
</html>
