<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="imagenes/logo.png">
        <title>404</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet"  href= "/public/mainpage.css"> 
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <form action="">
                        <button class = "btn1 btn-primary btn-sm" type="submit" id = "margin">Preguntas</button>
                    </form>
                
                    <form action="">
                        <button class = "btn1 btn-primary btn-sm" type="submit" id = "margin">Sin Responder</button>
                    </form>
                        
                    <form action="">
                        <button class = "btn1 btn-primary btn-sm" type="submit" id = "margin">Usuarios</button>
                    </form>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2 align-self-center">
                    <h1>404</h1>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="" alt="">
                    <h5></h5>
                    <form action="/cerrar_sesion">
                        <button class = "btn2 btn-primary btn-sm" type="submit" id = "margin">Log Out</button>
                    </form>
                </div>
                 
            </div> 
        
            <div class="row myrow justify-content-center">
                <form action="/search">
                    <button class = "btn3 btn-primary btn-sm" type="submit" id = "margin">Buscar</button>
                    <input type ="text" size="150">
                </form>    
            </div>
              
        </div>
         
    </body>
</html>