<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="imagenes/logo.png">
        <title>404</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet"  href= "mainpage.css"> 
    </head>
    <body>
        <div class="container">
            <div class="row  justify-content-between" style=" margin: 10px;">
                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <a class = "btn1 btn-primary btn-sm" href="/preguntas" id = "p">Preguntas</a>
                    
                    <button class = "btn1 btn-primary btn-sm" onclick="sinResponder()" id = "sr">Sin Responder</button>
                    
                    <button class = "btn1 btn-primary btn-sm" onclick="users()" id = "u">Usuarios</button>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h1 style="text-align:initial">404</h1>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <img src="data:img/png;base64,<%= usuario.foto %>" id = "imgperfil" style ="margin-left: 65%" >
                    <h5 style = "margin-left: 74%; color: rgb(42, 159, 255);"><%= usuario.nickname %></h5>
                    <a class = "btn2 btn-primary btn-sm" style = "margin-left: 58%" href="/404login">Log Out</a>
                </div>
                 
            </div> 

            <script>
                function sinResponder(){

                }

                function users(){

                }

                function perfil(){

                }
            </script>
        
            <div class="row justify-content-center" style="margin: auto">
                <form action="/search">
                    <button class = "btn3 btn-primary btn-sm" type="submit" id = "b">Buscar</button>
                    <input type ="text" size="118">
                </form>    
            </div>
        </div>  
    </body>
</html>