<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="imagenes/logo.png">
        <title>404</title>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet"  href= "/public/mainpage.css"> 
    </head>
    <body>
        <div class="container">
            <div class="row myrow justify-content-between">
                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button class = "btn1 btn-primary btn-sm" id = "p">Preguntas</button>
                    <button class = "btn1 btn-primary btn-sm" id = "sr">Sin Responder</button>
                    <button class = "btn1 btn-primary btn-sm" id = "u">Usuarios</button>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h1>404</h1>
                </div>

                <div class = "col-sm-2 col-md-2 col-lg-2 col-xl-2 mycol">
                    <img src="/imagenes/marta.png" id = "imgperfil" style ="margin: auto;" >
                    <h5 class = "text-center">Hola</h5>
                    <button class = "btn2 btn-primary btn-sm" id = "lo">Log Out</button>
                </div>
                 
            </div> 
        
            <div class="row myrow1 justify-content-center">
                <form action="/search">
                    <button class = "btn3 btn-primary btn-sm" type="submit" id = "b">Buscar</button>
                    <input type ="text" size="130">
                </form>    
            </div>
              
        </div>
         
    </body>
</html>